---
layout: layout.liquid
pagination:
    data: h5ps
    size: 1
    alias: h5p
permalink: "{{ h5p.id }}/index.html"
eleventyComputed:
    title: "{{ h5p.title }} - Un exercice interactif sur lyceum.fr"
    h5pURL: "{{ h5p.id }}.h5p"
---
<body>  
        <h1>{{ h5p.title }}</h1>
        <iframe id={{h5p.id}} width="100%" title="Chronologie de l'informatique" src="./embed"></iframe>
        <div id="download">
            <a href="{{ h5pURL | url }}">Enregistrer le fichier h5p pour l'utiliser sur votre site.</a>
        </div>
        <div id="embed">
            <p>Une version à embarquer est disponible sur cette <a href="./embed">page</a>.</p>
            <p>Vous pouvez l'inclure <em>sereinement</em> sur votre site avec la balise <code>&lt;iframe&gt;</code>
            <p>
            <pre>
            <code>
&lt;iframe title="{{ h5p.title }}" src="https://h5p.lyceum.fr/{{ h5p.id }}/embed"&gt;&lt;/iframe&gt;
            </code>
        </pre>  
    </div>
    <script src="{{ '/h5p.js' | url }}"></script>
</body>

</html>
