---
layout: layout.liquid
title: Dépôt d'exercices interactifs h5p libres par lyceum.fr
data: h5ps
---

<h1>Exercices interactifs</h1>
<ul>
  {% for h5p in h5ps %}
  <li><a href="{{ h5p.id | xurl }}">{{ h5p.title }}</a></li>
  {% endfor %}
</ul>
